In [1]:
# from aif360.datasets import LawSchoolGPADataset

# # Load the dataset
# dataset = LawSchoolGPADataset()

# # Convert to pandas DataFrame
# df, _ = dataset.convert_to_dataframe()

In [7]:
import pandas as pd
df = pd.read_csv("./data/lsac.csv")

In [8]:
# List of columns to use (including the target variable 'pass_bar')
data_headers = [
    "decile1b", "decile3", "decile1", "sex", "race", "cluster",
    "lsat", "ugpa", "zfygpa", "dob_yr", "grad", "zgpa",
    "fulltime", "fam_inc", "parttime", "tier", "indxgrp2", "bar"
]

In [9]:
# Remove rows with missing values in any of the specified columns
df = df.dropna(subset=data_headers)

# Remove rows with blank or empty strings in any of the specified columns
df = df[~df[data_headers].isin(['', ' ']).any(axis=1)]

In [10]:
# Map 'sex' from {'1': 0, '2': 1}
df['sex'] = df['sex'].map({'1': 0, '2': 1})

# Map 'grad' from {'N': 0, 'O': 1, 'X': 2, 'Y': 3}
df['grad'] = df['grad'].map({'N': 0, 'O': 1, 'X': 2, 'Y': 3})

# Map 'indxgrp2' categories to integers
df['indxgrp2'] = df['indxgrp2'].map({
    'a under 400': 0, 'b 400-460': 1, 'c 460-520': 2,
    'd 520-580': 3, 'e 580-640': 4, 'f 640-700': 5,
    'g 700-760': 6, 'h 760-820': 7, 'i 820+': 8
})

# Map 'bar' (target variable) to 'pass_bar'
df['pass_bar'] = df['bar'].map({'0': 0, '1': 1, '': 0})

In [11]:
# Updated list of columns to use (19 features + target variable 'pass_bar')
final_columns = [
    "decile1b", "decile3", "decile1", "sex", "race", "cluster",
    "lsat", "ugpa", "zfygpa", "dob_yr", "grad", "zgpa",
    "fulltime", "fam_inc", "parttime", "tier", "indxgrp2",
    "s_public", "b_public",  # Additional features to reach 19
    "pass_bar"  # Target variable
]

# Select the updated set of columns
df = df[final_columns]

KeyError: "['s_public', 'b_public'] not in index"

In [ ]:
# Verify the number of features
num_features = df.drop('pass_bar', axis=1).shape[1]
print(f"Number of features (excluding target): {num_features}")  # Should be 19

# Verify the dataset size
print(f"Dataset size: {len(df)}")

In [6]:
# Dataset size
print(f"Dataset size: {len(df)}")

# Positive and negative examples
positive_examples = df[df['pass_bar'] == 1].shape[0]
negative_examples = df[df['pass_bar'] == 0].shape[0]
print(f"Positive examples: {positive_examples}")
print(f"Negative examples: {negative_examples}")

Dataset size: 22329
Positive examples: 0
Negative examples: 0

In [4]:
# Display the first few rows of the dataset
print(df.head())

   decile1b  decile3  id  decile1 sex race cluster lsat ugpa zfygpa  ...  \
0       NaN      NaN   1      1.0   1    7       2   30  3.1  -1.79  ...
1      10.0     10.0   2     10.0   1    7       1   44  3.5   1.33  ...
2       5.0      4.0   3      5.0   1    7       2   29  3.5  -0.11  ...
3       9.0      9.0   4      9.0   1    7       3   35    3   1.22  ...
4       NaN      NaN   5      9.0   1    7       2   39  2.9   0.88  ...

  other asian black hisp pass_bar                bar tier           index604  \
0     0     0     0    0                         NaN    2          625.78946
1     0     0     0    0        1  a Passed 1st time    4         886.842082
2     0     0     0    0        1  a Passed 1st time    2  649.9999869999999
3     0     0     0    0            d Never took bar    3         694.736825
4     0     0     0    0                         NaN    2  747.8947169999999

     indxgrp   indxgrp2
0  e 580-640  e 580-640
1     g 700+     i 820+
2  f 640-700  f 640-700
3  f 640-700  f 640-700
4     g 700+  g 700-760

[5 rows x 36 columns]

In [5]:
df.shape

(27478, 36)

In [12]:
# Check data types of each column (this helps identify categorical vs numerical features)
print(df.dtypes)

decile1b    float64
decile3     float64
id            int64
decile1     float64
sex          object
race         object
cluster      object
lsat         object
ugpa         object
zfygpa       object
dob_yr       object
grad         object
zgpa         object
bar1         object
bar1_yr      object
bar2         object
bar2_yr      object
fulltime     object
fam_inc      object
age          object
gender       object
parttime     object
male         object
race1        object
race2        object
dropout      object
other         int64
asian         int64
black         int64
hisp          int64
pass_bar     object
bar          object
tier         object
index604     object
indxgrp      object
indxgrp2     object
dtype: object

In [17]:
# Check for missing (NaN) values in each column
print(df.isna().sum())

decile1b    4509
decile3     4509
id             0
decile1     2324
sex            0
race           0
cluster        0
lsat           0
ugpa           0
zfygpa         0
dob_yr         0
grad          15
zgpa           0
bar1        4375
bar1_yr        0
bar2        4375
bar2_yr        0
fulltime       0
fam_inc        0
age            0
gender         6
parttime       0
male           0
race1         20
race2         20
dropout        0
other          0
asian          0
black          0
hisp           0
pass_bar       0
bar          108
tier           0
index604       0
indxgrp        0
indxgrp2       0
dtype: int64

In [18]:
# Get summary statistics of numerical features
print(df.describe())

           decile1b       decile3            id       decile1         other  \
count  22969.000000  22969.000000  27478.000000  25154.000000  27478.000000
mean       5.501023      5.501023  13739.500000      5.500875      0.019215
std        2.872404      2.872404   7932.359685      2.872311      0.137284
min        1.000000      1.000000      1.000000      1.000000      0.000000
25%        3.000000      3.000000   6870.250000      3.000000      0.000000
50%        6.000000      6.000000  13739.500000      6.000000      0.000000
75%        8.000000      8.000000  20608.750000      8.000000      0.000000
max       10.000000     10.000000  27478.000000     10.000000      1.000000

              asian         black          hisp
count  27478.000000  27478.000000  27478.000000
mean       0.041924      0.068200      0.005277
std        0.200420      0.252093      0.072452
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000

In [19]:
# Check unique values in each column (this can help identify categorical features)
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")

Unique values in decile1b: [nan 10.  5.  9.  8.  3.  1.  4.  2.  7.  6.]
Unique values in decile3: [nan 10.  4.  9.  7.  2.  1.  3.  5.  8.  6.]
Unique values in id: [    1     2     3 ... 27476 27477 27478]
Unique values in decile1: [ 1. 10.  5.  9.  8.  3. nan  4.  2.  6.  7.]
Unique values in sex: ['1' '2' ' ']
Unique values in race: ['7' '2' '3' '4' '6' '8' '1' '5' ' ']
Unique values in cluster: ['2' '1' '3' '4' '5' '6' ' ']
Unique values in lsat: ['30' '44' '29' '35' '39' '37' '43' '41' '24.5' '34' '40' '31' '17' '33'
 '28' '26' '32.5' '23' '22' '48' '36' '20' '45' '27' '47' '46' '42' '38'
 '32' '25' '31.5' '33.5' '34.5' '19.5' ' ' '41.5' '28.3' '23.5' '25.5'
 '24' '35.5' '37.7' '32.3' '39.5' '21' '30.7' '40.5' '36.5' '30.5' '18'
 '26.5' '22.5' '35.3' '29.3' '37.5' '38.5' '29.5' '27.5' '24.7' '19'
 '18.3' '45.5' '42.5' '31.3' '33.3' '30.3' '28.5' '43.5' '17.5' '29.7'
 '21.5' '19.7' '32.7' '23.3' '28.7' '18.5' '24.3' '14' '38.3' '34.3'
 '26.7' '14.5' '22.7' '22.3' '15' '16' '38.7' '11' '16.5' '36.7' '36.3'
 '33.7' '27.7' '31.7' '20.5' '35.7' '27.3' '13.5' '34.7' '23.7' '26.3'
 '37.3' '16.7' '17.3' '39.7' '21.3' '25.7' '40.7' '20.7' '12' '15.5'
 '25.3' '19.3' '44.5' '20.3' '39.3' '15.7' '40.3' '13' '21.7' '18.7']
Unique values in ugpa: ['3.1' '3.5' '3' '2.9' '3.4' '3.3' '2.6' ' ' '2.2' '3.2' '2.4' '3.6' '2.5'
 '2.8' '3.9' '3.7' '2.7' '2.1' '4' '3.8' '2.3' '2' '1.9' '1.6' '1.7' '1.8'
 '1.5' '0']
Unique values in zfygpa: ['-1.79' '1.33' '-0.11' '1.22' '0.88' '0.63' '0.67' '1.23' '-0.67' ' '
 '-1.73' '-0.32' '-0.92' '-0.05' '-1.1' '0.73' '-1.82' '-0.59' '-3.22'
 '-0.76' '1.04' '0.56' '-0.23' '1.08' '-0.69' '0.58' '-1.8' '1.94' '-0.53'
 '-2.84' '-0.64' '0.64' '2.4' '1.13' '-0.15' '-0.6' '1.27' '1.02' '-0.38'
 '1.5' '-0.39' '2.88' '0.14' '1.68' '0.34' '-1.08' '-1.4' '-1.48' '-1.04'
 '1.51' '-0.45' '-1.14' '0.27' '-1.5' '-1.06' '1.66' '0.6' '-0.37' '-0.93'
 '0.82' '0.44' '0.96' '0.33' '-1.57' '0.45' '-0.16' '0.55' '-0.03' '0.16'
 '0.81' '1.05' '1.34' '0.91' '-0.33' '0.31' '0.1' '-0.91' '-1.02' '0.12'
 '-0.95' '-1.26' '1.31' '0.05' '0.36' '-0.44' '-1.36' '-0.88' '0.8'
 '-0.36' '-0.98' '0.29' '-0.84' '-1.16' '-0.4' '-0.65' '-2.12' '-0.42'
 '0.02' '-1.13' '0.61' '-0.31' '0.89' '0.35' '0.43' '-0.41' '1.54' '0.2'
 '-0.18' '0.26' '-0.02' '0.48' '0.09' '0.77' '0.57' '-1.83' '0.01' '0.41'
 '0.3' '-0.07' '-2.43' '-0.54' '-1.68' '2.06' '0.51' '-0.25' '-1.03'
 '0.37' '-0.19' '0.4' '0' '-0.81' '0.69' '1.49' '0.66' '0.76' '1.39'
 '0.39' '-0.68' '-1.17' '-0.2' '0.7' '-0.52' '0.19' '0.23' '2.18' '-0.58'
 '-0.08' '-2.51' '0.52' '0.74' '-0.51' '-1.59' '0.04' '0.85' '1.58' '1.01'
 '1.21' '1.57' '-0.79' '-0.12' '-0.21' '-0.24' '-1.07' '1.28' '0.17'
 '0.15' '-0.86' '2.72' '-2.23' '-0.56' '-0.96' '0.22' '-1.32' '-1.51'
 '1.19' '-0.5' '1' '-0.35' '2.15' '-0.94' '-1.23' '-1.42' '2.23' '1.75'
 '-0.83' '0.08' '0.54' '0.86' '1.06' '-0.89' '-0.06' '1.77' '-0.43'
 '-0.47' '-1.99' '-0.75' '-1.53' '1.26' '0.92' '-1.12' '1.36' '1.4' '2.45'
 '0.59' '-0.9' '-1.96' '-0.1' '-0.72' '-1.01' '-0.77' '0.5' '0.53' '0.32'
 '0.25' '-1.43' '-1.27' '-1.7' '0.79' '-1.62' '0.94' '-0.99' '-1.46'
 '0.03' '-1.29' '1.2' '0.11' '0.75' '1.6' '-1.31' '-0.7' '-1' '-1.38'
 '-0.57' '1.16' '-1.28' '-0.48' '-1.84' '1.55' '1.41' '-1.25' '1.1' '0.93'
 '0.9' '-0.28' '1.59' '-1.92' '-1.22' '2.65' '2.17' '1.9' '1.18' '-0.26'
 '-0.17' '1.47' '2.02' '0.38' '0.13' '-2.29' '1.81' '1.65' '-0.46' '0.62'
 '0.47' '-1.18' '2.01' '-1.11' '0.49' '2.28' '-1.45' '1.14' '2.09' '1.24'
 '0.65' '-1.86' '-1.71' '0.07' '0.18' '-0.09' '-0.49' '-0.61' '2.7'
 '-1.54' '0.78' '-1.19' '0.68' '1.61' '0.84' '0.87' '-0.14' '-1.37' '-2'
 '1.7' '-1.39' '-0.85' '-1.47' '0.24' '1.45' '-0.74' '-1.15' '2.04' '2.3'
 '0.98' '-1.56' '-0.22' '-1.24' '-1.61' '1.85' '-0.01' '0.21' '-1.52'
 '0.99' '1.43' '1.25' '-1.6' '-1.44' '-2.05' '-1.21' '2.26' '1.84' '2.11'
 '-0.04' '-0.66' '-0.8' '-2.35' '-2.66' '-0.29' '-0.73' '-2.15' '-2.9'
 '-2.04' '0.28' '-0.82' '-1.75' '1.03' '0.95' '-0.55' '-0.62' '-3.3'
 '-3.68' '0.06' '-2.28' '2.29' '-1.66' '-2.31' '2' '1.38' '-2.06' '-2.68'
 '1.83' '-2.61' '1.73' '1.42' '-0.78' '-0.34' '-0.87' '1.67' '1.17'
 '-1.05' '2.42' '-0.63' '1.32' '2.12' '-1.77' '1.89' '-1.09' '-1.35'
 '0.72' '-2.39' '-1.65' '0.71' '-0.3' '0.97' '-1.55' '-0.13' '2.05' '0.46'
 '-2.22' '1.12' '1.53' '0.83' '-2.2' '1.46' '-2.11' '1.44' '1.52' '2.03'
 '-1.94' '1.11' '-1.2' '-1.81' '-1.63' '-0.71' '2.5' '-2.3' '-2.46'
 '-1.64' '-2.4' '-1.49' '1.8' '-2.38' '-2.85' '-2.87' '2.34' '-1.58'
 '1.71' '0.42' '1.29' '-2.16' '2.85' '-1.78' '1.79' '1.78' '-3.59' '-2.17'
 '1.63' '-1.3' '-2.54' '1.37' '-2.5' '-1.9' '-2.18' '-2.09' '2.08' '1.92'
 '1.87' '-2.37' '-3' '-2.62' '-2.79' '1.86' '-2.26' '1.3' '2.41' '1.88'
 '2.32' '-1.67' '1.93' '-2.14' '-2.73' '1.97' '-1.76' '-2.25' '-2.67'
 '1.07' '-1.88' '2.22' '-1.74' '2.07' '-2.1' '-1.41' '1.15' '-2.01'
 '-0.27' '-2.34' '-1.72' '1.99' '1.64' '-2.03' '-0.97' '-2.83' '1.82'
 '-2.44' '-1.93' '1.72' '1.96' '-1.33' '1.62' '2.53' '-1.98' '1.09' '1.35'
 '-2.02' '-1.87' '2.6' '-2.21' '1.48' '-2.59' '2.31' '-3.84' '2.16' '2.24'
 '2.21' '1.91' '-2.72' '1.69' '-1.34' '1.74' '2.56' '-2.13' '-2.52'
 '-2.19' '2.14' '-3.03' '-2.94' '-1.69' '2.39' '-1.91' '2.52' '1.95'
 '-2.41' '2.54' '2.37' '-2.45' '-1.85' '-3.44' '2.36' '-2.42' '-2.24'
 '1.76' '-2.75' '1.56' '-2.27' '-2.89' '-2.36' '-4.44' '-2.7' '-3.07'
 '2.48' '2.13' '-2.49' '-3.72' '-3.13' '2.59' '3.48' '-2.78' '2.1' '-2.82'
 '-2.8' '2.33' '-2.07' '3.11' '-1.89' '-2.76' '-1.95' '1.98' '-2.6' '2.38'
 '2.44' '-3.02' '2.49' '2.47' '2.43' '-3.39' '2.2' '-2.33' '2.51' '2.35'
 '2.79' '2.27' '2.25' '-2.53' '2.46' '-3.1' '2.64' '2.62' '2.73' '-2.56'
 '3.17' '-3.16' '-2.74' '2.19' '-2.93' '-3.05' '-1.97' '-2.64' '2.76'
 '-2.57' '-3.33' '3.04' '2.67' '-4.43' '2.78' '-3.77' '-3.53' '-3.43'
 '-3.38' '-4.08' '-3.57' '-2.55' '-2.92' '-3.14' '-2.96' '-2.08' '2.58'
 '-2.86' '-2.69' '2.63' '2.61' '2.69' '-2.58' '-2.48' '-3.63' '-3.51'
 '-3.73' '2.71' '2.93' '-4' '-4.01' '-3.35' '2.82' '2.66' '-2.47' '-3.12'
 '-3.6' '-2.99' '3.07' '-2.95' '2.75' '-3.25' '-3.04' '-3.11' '3.1'
 '-2.63' '-4.24' '-3.19' '-3.8' '-3.7' '-3.09' '2.55' '-3.54' '-2.98'
 '-2.71' '-3.06' '-3.08' '-3.01' '-2.32' '3.25' '-3.21' '-2.81' '-2.88']
Unique values in dob_yr: ['68' '69' '58' '51' '67' '65' '64' '66' '56' '62' '54' '53' '60' '70'
 '63' '52' '59' '57' '55' '49' '61' '46' '44' '48' ' ' '40' '43' '39' '41'
 '42' '29' '50' '38' '37' '47' '31' '45' '36' '71' '12' '28' '33' '32'
 '72' '35' '14' '34' '20' '27' '10' '24' '16' '15' '25' '30']
Unique values in grad: ['X' 'Y' 'O' 'N' nan]
Unique values in zgpa: [' ' '1.88' '-0.57' '0.95' '0.37' '0.34' '0.92' '-1.3' '-2.01' '-1.34'
 '-0.38' '-0.72' '-0.03' '0' '0.94' '-1.49' '-0.56' '1.09' '0.87' '0.88'
 '-0.45' '0.53' '0.4' '-1.13' '0.98' '-1.05' '-0.9' '-1.12' '-0.1' '3.22'
 '0.41' '-1.63' '0.73' '-1.1' '-0.07' '2.87' '1.33' '-0.49' '-1.46' '0.76'
 '-1.08' '1.69' '-0.04' '-0.93' '-0.98' '-0.28' '-2.18' '1.52' '1.72'
 '-1.04' '-1.29' '0.72' '-0.12' '0.45' '0.22' '-0.27' '-0.19' '0.08'
 '0.63' '-0.23' '-0.3' '0.23' '0.62' '1.41' '1.37' '-0.35' '1.2' '-0.01'
 '-0.83' '-0.18' '-1.33' '-0.13' '-0.8' '-1.02' '1.26' '0.64' '-0.68'
 '1.23' '-1.01' '-1.14' '1.53' '-0.08' '-1.72' '0.78' '-0.46' '-0.59'
 '-0.92' '0.33' '1.01' '0.39' '0.35' '-0.94' '0.46' '-0.82' '-1.55'
 '-1.06' '-0.39' '-0.09' '-0.74' '-1.19' '0.74' '-0.64' '0.65' '0.32'
 '-1.78' '1' '-0.05' '-0.5' '-0.65' '-0.33' '2.27' '0.09' '0.44' '-1.42'
 '-1.85' '1.07' '-0.14' '-0.37' '-1.86' '-0.36' '0.82' '1.14' '-0.53'
 '1.6' '0.24' '1.08' '0.89' '-0.76' '0.3' '-0.44' '0.11' '2' '-0.69'
 '-1.27' '-0.6' '-1.5' '-1.09' '-0.75' '1.57' '1.24' '-1.45' '-0.73'
 '0.59' '0.77' '1.56' '1.22' '2.04' '-1.75' '0.03' '0.01' '0.51' '0.1'
 '-0.85' '-0.15' '-0.78' '0.57' '1.42' '0.55' '-0.96' '0.7' '0.18' '-0.7'
 '-1.76' '-1.36' '0.67' '-0.58' '-0.63' '1.7' '0.48' '0.19' '-0.77' '1.84'
 '-1.32' '0.97' '-1.43' '-1.77' '2.14' '-0.4' '1.94' '-0.51' '-0.17'
 '0.02' '1.05' '0.81' '0.96' '-0.97' '-1.51' '0.27' '1.91' '-0.06' '-2.03'
 '1.5' '0.91' '2.8' '0.75' '0.47' '-0.91' '1.13' '2.18' '-0.86' '0.58'
 '0.38' '0.49' '-1.87' '-1.48' '-0.11' '-1.58' '-1.66' '3.15' '1.02'
 '-0.22' '1.12' '1.31' '-0.99' '-1.41' '-0.55' '0.28' '1.49' '-0.84'
 '1.32' '-0.67' '0.54' '0.26' '1.25' '-2.27' '-1.44' '0.29' '1.67' '-1.11'
 '1.97' '1.19' '1.1' '2.37' '-2.11' '-1.65' '1.73' '0.68' '-2.17' '0.93'
 '-0.31' '1.55' '1.74' '1.27' '0.05' '-0.26' '2.03' '-1.68' '-0.29' '1.59'
 '-0.79' '2.23' '2.09' '0.56' '0.71' '1.87' '-1.03' '1.89' '0.99' '-0.02'
 '-0.88' '1.44' '2.36' '0.66' '0.16' '1.17' '0.13' '-1.54' '-1.15' '-1.2'
 '-0.52' '-0.24' '-1.22' '-0.25' '2.5' '1.4' '1.06' '-1.24' '-0.34'
 '-0.42' '0.2' '1.77' '-0.62' '0.6' '1.83' '-1.25' '-1.95' '1.39' '1.04'
 '-1.17' '2.54' '0.83' '-1.69' '1.34' '-0.48' '2.42' '-1.47' '-1.73'
 '0.17' '1.18' '1.16' '0.36' '2.17' '1.68' '-1.39' '-0.87' '2.13' '-1.38'
 '2.47' '-1.52' '-1.79' '1.48' '-2.58' '-0.43' '-2.62' '0.31' '0.04'
 '-1.71' '-2.05' '-1.57' '-1.96' '1.76' '0.15' '0.07' '-0.16' '-1.35'
 '0.79' '-1.07' '-0.71' '0.25' '0.9' '0.85' '-0.95' '-1.84' '0.06' '0.69'
 '1.21' '-0.47' '-2.31' '1.38' '0.5' '-0.61' '-3.27' '2.7' '0.14' '2.22'
 '1.8' '-1.59' '-0.66' '0.84' '0.52' '2.43' '1.36' '-2.8' '2.3' '-1.67'
 '-1.61' '1.35' '-0.21' '1.47' '-0.81' '1.85' '0.21' '2.44' '2.39' '2.19'
 '-2.14' '-1' '2.12' '-1.21' '-1.9' '1.3' '1.43' '0.61' '0.43' '-0.54'
 '2.31' '-1.8' '0.42' '-2.44' '0.8' '-1.4' '1.58' '1.45' '1.96' '1.64'
 '1.03' '0.86' '-1.53' '2.07' '-0.41' '-0.32' '2.38' '-2.63' '-2.53'
 '-3.05' '-1.16' '-0.2' '-1.81' '-1.31' '-2.22' '-2.33' '-2.37' '-0.89'
 '1.15' '-2.52' '-2.08' '2.57' '-1.89' '-1.74' '-1.18' '1.29' '2.73'
 '-1.82' '2.2' '-1.99' '-1.37' '-1.26' '-2.64' '2.52' '-2.25' '-2.54'
 '-1.64' '-2.12' '2.08' '-2.84' '2.25' '-2.41' '-1.6' '2.33' '-2.28'
 '-2.2' '1.11' '1.66' '1.54' '1.86' '-1.23' '-1.62' '1.46' '2.26' '1.63'
 '1.65' '1.61' '-1.88' '-2.91' '2.34' '-2.02' '1.9' '-1.7' '-2.77' '1.81'
 '-2.06' '0.12' '1.93' '-2.15' '1.28' '-2.23' '-2.35' '2.45' '1.62'
 '-1.56' '-2.45' '2.05' '-1.93' '1.78' '1.92' '-2.89' '2.02' '-3.46'
 '1.71' '-1.91' '2.21' '-1.97' '-1.28' '-1.83' '2.24' '-2.73' '-2.07'
 '-2.36' '-2.61' '2.06' '2.63' '2.64' '-2.04' '-2.4' '2.75' '1.82' '2.51'
 '1.51' '1.98' '1.79' '2.55' '1.75' '2.74' '-2.42' '-1.98' '2.01' '-2.09'
 '-1.94' '1.99' '-3.19' '2.46' '4.01' '-2.56' '2.16' '-3.21' '2.77'
 '-2.32' '2.15' '2.41' '1.95' '-2.26' '2.86' '2.78' '-3' '-2.68' '-2.88'
 '3.17' '2.6' '-1.92' '-2.29' '-2.16' '2.68' '-2.24' '2.56' '-2.75' '-2'
 '-2.43' '2.53' '-2.65' '-2.1' '2.65' '2.32' '2.29' '-2.38' '2.49' '2.67'
 '2.59' '3.07' '-2.78' '-2.49' '-3.03' '-2.13' '-2.3' '3.12' '-2.96'
 '-2.34' '3.4' '2.4' '-2.21' '2.28' '2.69' '2.72' '-2.6' '2.62' '2.76'
 '-2.5' '2.84' '-2.67' '-3.13' '2.94' '2.9' '2.1' '2.71' '-6.44' '-2.92'
 '2.92' '2.83' '-2.97' '-3.14' '-2.47' '-3.16' '-2.39' '-2.83' '-2.19'
 '-2.51' '2.61' '-2.66' '-2.93' '-2.82' '2.35' '2.58' '-2.48' '-2.46'
 '2.98' '-2.85' '2.95' '3.21' '2.99' '2.11' '3.18' '-3.84' '-2.87' '2.66'
 '3.45' '-2.76' '-2.55' '-3.04' '2.79' '3' '2.48' '2.82']
Unique values in bar1: [nan 'P' 'F']
Unique values in bar1_yr: [' ' '7' '2' '6' '1']
Unique values in bar2: [nan 'P' 'F']
Unique values in bar2_yr: [' ' '94' '95' '96' '93']
Unique values in fulltime: ['1' '2' ' ']
Unique values in fam_inc: ['4' '5' '3' '2' '1' ' ']
Unique values in age: [' ' '-62' '-61' '-60' '-57' '-58' '-59' '-49' '-55' '-46' '-63' '-53'
 '-67' '-52' '-51' '-66' '-64' '-48' '-42' '-65' '-54' '-56' '-47' '-44'
 '-45' '-50' '-37' '-41' '-38' '-40' '-68' '-36' '-43' '-24' '-35' '-33'
 '-39' '-29' '-34' '-5' '-21' '-7' '-31' '-25' '-30' '-32' '-28' '-69'
 '-13' '-3' '-17' '-27' '-9' '-22' '-8' '-23' '-26' '-18']
Unique values in gender: ['female' 'male' nan]
Unique values in parttime: ['0' '1' ' ']
Unique values in male: ['0' '1' ' ']
Unique values in race1: ['white' 'asian' 'black' 'hisp' 'other' nan]
Unique values in race2: ['b white' 'c other' 'a black' nan]
Unique values in dropout: ['NO' 'YES']
Unique values in other: [0 1]
Unique values in asian: [0 1]
Unique values in black: [0 1]
Unique values in hisp: [0 1]
Unique values in pass_bar: [' ' '1' '0']
Unique values in bar: [nan 'a Passed 1st time' 'd Never took bar' 'c Failed' 'b Passed 2nd time'
 'e non-Grad']
Unique values in tier: ['2' '4' '3' '5' '6' '1' ' ']
Unique values in index604: ['625.78946' '886.842082' '649.9999869999999' ... '623.1578829'
 '691.5789265' '849.9999805']
Unique values in indxgrp: ['e 580-640' 'g 700+' 'f 640-700' 'a under 400' 'b 400-460' 'd 520-580'
 'c 460-520']
Unique values in indxgrp2: ['e 580-640' 'i 820+' 'f 640-700' 'g 700-760' 'h 760-820' 'a under 400'
 'b 400-460' 'd 520-580' 'c 460-520']